.k-arrow {
  color: #727272;
  position: relative;
  margin: 10px 8px 0 0;
}

.k-arrow::before {
  content: '';
  position: absolute;
  right: 0;
  width: 8px;
  height: 8px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
}

.k-arrow.right:before {
  top: 4px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.k-arrow.down:before {
  top: 2px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* Utility */
.kvc-float-left {
  float: left;
}
.kvc-float-right {
  float: right;
}
.kvc-clearfix::after {
  content: '';
  display: block;
  clear: both;
}

[v-cloak] {
  display: none;
}
